*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.button {
  background-color: var(--black);
  color:#6e6f72;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}


.button-container {
  margin: 1.5rem;
  margin-top: 0.25rem; /* Reduce space above button */
}